*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #29b1dd;
    padding: 10px;
}

.label-style{
    color: white;
    font-size: 20px;
}

.nav-style{
    background-color: #29b1dd;
    text-align: center;
    padding: 10px 0;
}

main{
    background-color: #dddddd;
    height: calc(100vh - 43px - 57px);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    width: calc(100% / 5);
    padding: 20px;
}

.card{
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    text-transform:uppercase;
    border-radius: 10px;
}
.card i{
    font-size: 80px;
    margin-bottom: 20px;
}

